@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;}

body{
    background-color: white;
    font-family: "Open Sans", sans-serif
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.logo img {
    margin-left: 8em;
    width: 12vw;
    max-width: 200px;
}

.menu-toggle {
    background: none;
    border: none;
    color: #081B29;
    font-size: 2em;
    cursor: pointer;
    margin-right: 4em;
}


.content-container {
    display: flex;
    padding: 6em 0em 6em 9em;
}

.text-block {
    color: #061C2C;
    font-size: 1.14vw;
    line-height: 1.6em;
    font-weight: 300;

}

.text-block, .image-section {
    flex: 1 1 70%;
    box-sizing: border-box;
    padding: 1em;
}

.image-section img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.blocks-section {
    display: flex;
    justify-content: space-between;
    padding: 0 10em 1.2em 10em;
    gap: 0.2em;
}

.box{
    color: white;
    background-color:#061C2C;
    flex: 1;
    margin: 0.5rem;
    padding: 0rem 0rem 1rem 1rem;
}

.box h4 {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 600;
}

.arrow {
    font-size: 4em;
    font-weight: 600;
    margin: 0;
    color:#1E7BAE;
}

.small-arrow {
    font-size: 1.8em;
    margin: 0;
    color:#1E7BAE;
    font-weight: 600;
}

.item-box-section{
    padding: 0px 10.6em 2em 10.6em;
}

.items-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.small-box {
    background-color:#2342A6;
    color: white;
    width: 15.2em;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    text-transform: uppercase;
    font-size: 0.74em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}










.carousel-container {
    position: relative;
    max-width: 86%;
    margin: auto;
    overflow: hidden;
    height: 38em;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.next {
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    user-select: none;
    z-index: 10;
    font-weight: 100;
}

.next-arrow{
    width: 6vw;
    padding: 2em 0em 0em 0em;
}


.right-overlay{
    font-size: 1.6vw;
    z-index: 30;
    color: white;
    width: 40vw;
    height: 12vh;
    background-color: rgba(36, 74, 194);
    position: absolute;
    top: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    padding: 0 2vw;
    left: 0em;
    box-sizing: border-box;
    text-transform: uppercase;
}

.left-overlay{
    font-size: 2vw;
    z-index: -10;
    color: black;
    width: 12vw;
    height: 12vh;
    background-color: black;
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    padding: 0 2vw;
    right: 0em;
}

.prev{
    color: transparent;
}

.circles {
    position: absolute;
    bottom: 20px;
    right: 1em;
    transform: translateX(-50%);
}

.small-circle {
    background-image: url(https://i.ibb.co/SNHw5WB/dot.png);
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 0 1px;
    cursor: pointer;
    transition: transform 0.3s;
}

.small-circle.active {
    opacity: 0.5; 
    transform: rotate(0.5turn);
    transform: rotate(150deg);
}




@media (max-width: 1024px) {
    .item-box-section {
        padding: 0px 5em 2em 5em; /* Reduces side padding */
    }

    .small-box {
        flex: 1 1 calc(40% - 1em);
        margin: 1em;
    }
    .blocks-section {
        flex-direction: column;
        padding: 0 2em; 
    }

    .box {
        flex: 1 1 40%;
        margin-bottom: 1rem;
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    .right-overlay, .left-overlay {
        font-size: 3vw;
        width: 55vw;
        height: 12vh;
        top: 58%;
        padding: 0 4vw; 
    }
    .next {
        font-size: 12vw;
    }

    .navigation {
        padding: 0 3vw;
        top: 42%;
    }
    .logo img {
        width: 20vw;
        margin-left: 2em;
    }
    
    .menu-toggle {
        display: block;
        margin-right: 1em;
    }

    .content-container {
        display: flex;
        flex-wrap: wrap;
        padding: 2em 6em 3em 6em;
    }
    .text-block {
        color: #061C2C;
        font-size: 1.6vw;
        line-height: 1.6em;
        font-weight: 300;
        text-align: center;
    }

    .text-block, .image-section {
        flex: 1 1 70%;
        box-sizing: border-box;
        padding: 1em;
    }

    .image-section img {
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .blocks-section {
        flex-direction: column;
        padding: 0 2em; 
    }

    .box {
        flex: 1 1 100%;
        margin-bottom: 1rem;
        font-size: 2vw;
    }
    .item-box-section {
        padding: 0px 2em 2em 2em; /* Further reduces side padding */
    }

    .small-box {
        flex: 1 1 40%;
        margin: 1em;
    }
}

@media (max-width: 480px) {
    .right-overlay, .left-overlay {
        font-size: 3vw; 
        width: 50vw;
        height: 11vh;
        top: 58%;
        padding: 0 4vw;
    }
    .next {
        font-size: 12vw; 
    }

    .navigation {
        padding: 0 2vw;
        top: 42%;
    }
    .content-container {
        display: flex;
        flex-wrap: wrap;
        padding: 2em 4em 3em 4em;
    }
    .box h4 {
        font-size: 1.8vw;
    }

    .arrow {
        font-size: 3em;
    }
}